<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Messenger</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
	<style>
	
	
		.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

	.row{
	margin-left: 0;
	margin-right: 0;
}
	
	.container {
    border: 2px solid #dedede;
    background-color: #d9d775;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
	max-width: 100%;
}


.darker {
    border-color: #ccc;
    background-color: #41d666;
}

.col-lg-12{
	overflow-y: scroll;
	height: 500px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
	</style>
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Active Users</a>
                </li>
				{% for i in dict %}
					<li><a href={{"message?profile_username="+dict[i]['username']}}>{{dict[i]['username']}}</a></li>
				{% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
		
			<div class="container-fluid">	
			
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
					<a class="navbar-brand" href="#menu-toggle" id="menu-toggle" > Who's Online!</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
					  <ul class="navbar-nav ml-auto">
						<li class="nav-item active">
						  <a class="nav-link" href="index">Home
							<span class="sr-only">(current)</span>
						  </a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="profile?profile_username=ttha702">Profile</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="editProfile">Edit Profile</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="signout">Log Out</a>
						</li>
					  </ul>
					</div>
				</nav>
			
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1 class="mt-1">Welcome {{username}}! </h1>
						<h2>Chat with {{profile_username}}</h2>

					{% for i in user %}
						<div class="container">
							<p>{{i[0]}}</p>
							<span class="time-right"></span>
						</div>
					{% endfor %}
					
					{% for i in inbox %}
						<div class="container darker">
						  <p>{{i[0]}}</p>
						  <span class="time-left"></span>
						</div>
					{% endfor %}
					<form action="sendMessage" method="post" enctype="multipart/form-data" class="btn btn-secondary" >
						Messsage: <input type="text" name="input_message"> 
						<input type="hidden" name="input_username" value={{profile_username}}>
						<input type="submit" class="btn btn-secondary" Value="Send Message">
					</form>
					<form action="sendFile" method="post" enctype="multipart/form-data" class="btn btn-secondary">
					Select a file: <input type="file" name="myFile" >
					<input type="hidden" name="input_username" value={{profile_username}}>
					<input type="submit" class="btn btn-secondary">
					
				</form>

					</div>
				</div>	

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
