<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
	<style>
	
		.container-fluid{
	padding-left: 0;
	padding-right: 0;
	}

	</style>

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Active Users</a>
                </li>
				{% for i in dict %}
					<li><a href={{"profile?profile_username="+dict[i]['username']}}>{{dict[i]['username']}}</a></li>
				{% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
		
			<div class="container-fluid">	
			
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
					<a class="navbar-brand" href="#menutoggle" id="menu-toggle">See Whos Online!</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
					  <ul class="navbar-nav ml-auto">
						<li class="nav-item active">
						  <a class="nav-link" href="index">Home
							<span class="sr-only">(current)</span>
						  </a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="profile?profile_username=ttha702">Profile</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="editProfile">Edit Profile</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="signout">Log Out</a>
						</li>
					  </ul>
					</div>
				</nav>
			
			
				<section>
				  <div class="container">
					<div class="row align-items-center">
					  <div class="col-lg-6 order-lg-2">
						<div class="p-5">
						  <img class="img-fluid rounded-circle" src={{profile['picture']}}  alt="">

						</div>
					  </div>
					  <div class="col-lg-6 order-lg-1">
						<div class="p-4">
						  <h2 class="display-5">{{profile['fullname']}}</h2>
						  <p><p/>
						  <p>Position: {{profile['position']}} </p>
						  <p>Description : {{profile['description']}}  </p>
						  <p>Location: {{profile['location']}} </p>
						</div>
					  </div>
				  
					</div>
				  </div>
				</section>
				
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
